@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html> 
<html>
    <head>

        
        <link rel = "stylesheet" href="style.css">
       
    </head>

    <body>  
        
        <div class="entry">  
           <h1 class ="head"> <b>MyJokesApp</b> </h1> 
           <p class = "hpara"> Hey👋🏻, Welcome to my Jokes App, you can write your jokes,
               look at some other jokes, and if you find your jokes to be cheesy, you can delete them.</p>
        </div>  
           <img class = " myman "src="~/lib/images/man1.png" alt="man1">
           <img class = " mywomen "src="~/lib/images/women1.png" alt="women1">
         
    </body>
</html>
